<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="7daysPassword" value=""/>
    <add key="7daysHostname" value=""/>
    <add key="7daysPort" value=""/>
    <add key="7daysNickname" value=""/>
    <add key="twitchChannel" value=""/>
    <add key="twitchAuth" value="oauth:"/>
    <add key="twitchNickname" value=""/>
  </appSettings>
</configuration>